<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kolb’s Learning Style Questionnaire</title>
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <h4>Kolb’s Learning Style Questionnaire<h4>
      <p>This questionnaire is designed to find out your preferred learning styles(s) as an
         adult. Over the years, you have probably developed learning habits that help you
         benefit more from some experiences than from others. You may be unaware of this, and this questionnaire will help you pinpoint your learning preferences and share them with the other Community Facilitators.
         This questionnaire will probably take you about 10 minutes to complete. The accuracy of your results depends on how honest you are. There are no right or wrong answers. If you agree more than you disagree with a statement, place a tick ( ) in the box to the left of the question. If you disagree more than you agree, leave the box blank. If you find yourself wondering which situation to think of when answering a question, just think about how you are when you are working with people. Go with your first gut reaction instead of over-thinking your response.</p>

<h4>Questionaire<h4>
  <form action="/answer/index" method="post">
  <div>
    <input type="checkbox" id="1" name="question_1" value="yes">
    <label for="1">1. I have strong beliefs about what is right and wrong, good and bad.</label>
  </div>
  <div>
    <input type="checkbox" id="2" name="question_2" value="yes">
    <label for="2">2. I often act without considering the possible consequences.</label>
  </div>
  <div>
    <input type="checkbox" id="3" name="question_3" value="yes">
    <label for="3">3. I tend to solve problems using a step-by-step approach.</label>
  </div>

  <button type="submit">Submit</button>
</form>





  </body>
</html>
<!-- Scoring on second page private and result
preferred learning styles "Activist, Reflector, Theorist, Pragmatist"-->
